{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1 class="flex flex-col justify-center items-center font-sans font-extrabold text-transparent text-6xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 uppercase">
        Formulir Registrasi
    </h1>  

        <form method="POST" class="flex flex-col justify-center items-center">  
            {% csrf_token %}  
            <table class="border-separate border-spacing-2 border border-slate-500">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}